<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ ratings }} </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Mes 01</ion-label>
      <ion-note slot="end" color="primary">N/A</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>mes 02</ion-label>
      <ion-note slot="end" color="secondary">N/A</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Mes 03</ion-label>
      <ion-note slot="end" color="tertiary">N/A</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Mes 04</ion-label>
      <ion-note slot="end" color="success">N/A</ion-note>
    </ion-item>
  </ion-list>


</ion-content>
